button, .button
    display: inline-block
    padding: 8px 15px
    border: 0
    font-size: 16px
    margin: 10px 0
    cursor: pointer
    text-transform: uppercase
    &.primary
        background: $primaryBg
        letter-spacing: 1px
        color: white
        &:hover
            background: lighten($primaryBg, 5%)
    &.secondary
        background: $secondaryBg
        color: white
        &:hover
            background: lighten($secondaryBg, 5%)
    &.warning
            background: $warningBg
            color: white
            &:hover
                background: lighten($warningBg, 5%)
    &.error
            background: $errorBg
            color: white
            &:hover
                background: lighten($errorBg, 5%)
    &.info
            background: $infoBg
            color: white
            &:hover
                background: lighten($infoBg, 5%)