body.form.content.manage
    main
        .manage-content-container
            aside
                button
                    text-decoration: none
                    width: 100%
                    display: block
                    text-align: left
                    font-size: 13px
                    &[disabled]
                        opacity: 0.5
                        cursor: not-allowed
div.datePicker
    text-align: center
    select
        font-size: 18px
        padding: 2px
        margin: 15px 2px
        border: 1px solid rgba(0,0,0,0.15)
        border-radius: 5px
        background: white
    .days
        display: flex
        flex-wrap: wrap
        position: relative
        left: 50%
        transform: translateX(-50%)
        div, button
            width: calc(14% - 2px)
            margin: 1px
    .selected
        background: $primary
        color: white