// Margins/Padding
.m-0-auto
    margin: 0 auto
.m-auto
    margin-left: auto
    margin-right: auto
@for $i from 0 through 5
    $j: ($i+1) * 5
    $k: ($i+1) * 2
    .b-#{$i}
        border-width: #{$i}px
    .rounded-#{$k}
        border-radius: #{$j}px
    .z--#{$i}
        z-index: -#{$i}
    @each $type, $prop in ('m': 'margin', 'p': 'padding')
        .#{$type}-#{$k}
            #{$prop}: #{$k}px
        @each $direction in ['top','bottom','left','right']
            .#{$type}-#{$direction}-#{$k}
                #{$prop}-#{$direction}: #{$k}px
@for $i from 0 through 10
    $k: ($i+3) * 100
    $j: ($i+1) * 5
    $l: unquote('0.'+#{$i})
    @if ($i != 0 and $i != 10)
        .o-#{$i}0
            opacity: $l
    .mw-#{$k}
        max-width: #{$k}px
    .z-#{$i}
        z-index: #{$i}
    .m-#{$j}-auto
        margin: #{$j}px auto
@for $i from 3 through 11 
    $value: ($i - 1) * 5
    @each $type,$param in ('m': 'margin', 'p': 'padding')
        .#{$type}-#{$value}
            #{$param}: #{$value}px
        @each $direction in ['top','bottom','left','right']
            .#{$type}-#{$direction}-#{$value}
                #{$param}-#{$direction}: #{$value}px
// Colors
@each $name, $color in $colorList
    .b-color-#{$name}
        border-color: #{$color}
    .bg-#{$name}
        background-color: #{$color}
    .t-color-#{$name}
        color: #{$color}
.b-solid
    border-style: solid
.b-dashed
    border-style: dashed
.shadow
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.35)
// Display
.box
    box-shadow: -1px -1px 2px 1px rgba(0,0,0,0.15), 2px 1px 1px 1px rgba(255,255,255,0.35) 
    border-radius: 5px
// Text 
.t-center
    text-align: center
.t-right
    text-align: right
.t-left
    text-align: left
.center-v
    top: 50%
    transform: translateY(-50%) 
.center-h
    left: 50%
    transform: translateX(-50%)
.center-center
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
@each $direction in ['top','bottom','left','right']
    .#{$direction}-0
        #{$direction}: 0
// Layout
@each $position in ['absolute','relative','static','fixed','sticky']
    .position-#{$position}
        position: #{$position}
@each $display in ['inline', 'inline-block', 'static', 'grid', 'flex', 'block']
    .display-#{$display}
        display: #{$display}
@each $col in [2,3,4,5,6,7,8,9,10]
    .col-#{$col}
        grid-template-columns: repeat(#{$col}, 1fr)
@each $size,$px in ('xs': '767px', 'tab':'768px', 'lg':'1024px', 'xl':'1280px','wide': '1400px')
    @if $size == 'xs'
        @media(max-width: $px)
            @each $col in [2,3,4,5,6,7,8,9,10]
                .col-#{$size}-#{$col}
                    grid-template-columns: repeat(#{$col}, 1fr)
            .hide-#{$size}
                display: none
            .show-#{$size}
                display: block
            @each $position in ['absolute','relative','static','fixed','sticky']
                .pos-#{$position}-#{$size}
                    position: #{$position}
            @each $display in ['block', 'inline','inline-block','static','grid']
                .display-#{$display}-#{$size}
                    display: #{$display}
    @else
        @media(min-width: $px)
            @each $col in [2,3,4,5,6,7,8,9,10]
                .col-#{$size}-#{$col}
                    grid-template-columns: repeat(#{$col}, 1fr)
            .hide-#{$size}
                display: none
            .show-#{$size}
                display: block
            @each $position in ['absolute','relative','static','fixed','sticky']
                .pos-#{$position}-#{$size}
                    position: #{$position}
            @each $display in ['block', 'inline','inline-block','static','grid']
                .display-#{$display}-#{$size}
                    display: #{$display}
.show
    display: block
.hide
    display: none
.grid-auto
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))