@use 'sass:map' as map
    
$blue: #001E44
$teal: #3EA39E
$darkTeal: darken($teal, 15%)
$pink: #BC204B
$darkPink: darken($pink, 5%)
$orange: #E98300
$darkOrange: darken($orange, 5%)
$green: #2f856e
$darkGreen: #006a4e
$gray: #ccc
$darkGray: #aaa
$offWhite: #efefef
$ivory: #fefefe

$primary: $blue
$secondary: $teal
$primaryBg: $blue
$secondaryBg: $darkTeal
$success: $green
$successBg: $darkGreen
$warning: $orange
$warningBg: $darkOrange
$errorMsg: rgba($pink, 0.3)
$error: $pink
$errorBg: $darkPink
$info: $gray
$infoBg: $darkGray

$colorList: ('gray': $gray, 'darkGray': $darkGray, 'softBlack': rgba(0,0,0,0.25), 'white':'white', 'black':'black', 'primary': $primary, 'secondary': $secondary, 'secondaryAlt': $secondaryBg, 'success': $success, 'error': $error, 'errorAlt': $errorBg, 'errorMsg': $errorMsg, 'warning': $warning, 'warningAlt': $warningBg, 'info': $info, 'infoAlt': $infoBg, 'offWhite': $offWhite, 'ivory': $ivory)

@import 'fonts'
@import 'buttons'
@import 'forms'
@import 'layout'
@import 'content'

@import 'lib/hat'

@import 'pages/login'
@import 'pages/manage'

*
    padding: 0
    margin: 0
    box-sizing: border-box
html
    height: 100%
    font-size: 18px
    header
        h2
            font-size: 30px
    img
        max-width: 100%
        height: auto
    hr
        color: rgba(0,0,0,0.5)
    a
        color: $primary