{% extends 'base.twig' %}

{% if pageTitle is empty %}
    {% set pageTitle = 'Index' %}
{% endif %}
{% if bodyClass is empty %}
    {% set bodyClass = false %} 
{% endif %}

{% block main %}
    <div class="manage-container display-grid-tab m-10-auto mw-1200">
        <aside class="bg-ivory m-top-10">
            <nav>
                {% include '/partials/menu.twig' with { 'menu': manageMenu } %}
            </nav>
        </aside>
        <section class="bg-ivory box p-10 p-top-30 p-bottom-30">
            {% include 'partials/messages.twig' %}
            {% block content %}
                Um, menu much?
            {% endblock %}
        </section>
    </div>
{% endblock %}